<head><script type="text/javascript">
	function showDiv() {
	   document.getElementById('load').style.display = "block";
	}
</script></head>
{% extends "layout.html" %}

{% block body %}
 
<script src="script.js"></script>
<div class="block1">
<h1>Welcome to Moodtape!</h1>
<!--   <p>In the first box, please type your username. This can be found by going into your Spotify App, going to the top-right corner, clicking the drop-down menu, and selecting 'account'</p> -->
  <p>  tell us what is your mood right now?' (0.0 to 1.0)</p>
</div>

<!-- <div class="block2">
  <p>Please put in your username. This can be found by going into your Spotify App, going to the top-right corner, clicking the drop-down menu, and selecting 'account'</p>
</div> -->

<!-- <form method="POST">
    <input name="username">
    <input type="submit"/>
</form> -->

<form method="POST">
<!-- 	<input name="username"> -->
    <input name="text">
    <input type="submit" onclick="showDiv()"/>
</form>

<div id="load" style="display:none;" class="loader"></div>

{% endblock %}


